@import './variables.scss';

.wrapper {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0 20% 0 20%;

    .bg-brown {
        background-color: $dark;

        .danger {
            border-inline-color: red;
        }

        .danger:focus {
            outline-color: red;
        }

        .error {
            color: red;
        }
    }

}